node_modules
dist

# Keep environment variables out of version control
.env

/generated/prisma

# Prisma migrations
/prisma/migrations/*

# SSL Certificates (never commit these!)
/certs/*
!/certs/.gitkeep
